[submodule "CommunicationMod"]
	path = CommunicationMod
	url = https://github.com/cdaymand/CommunicationMod.git
[submodule "spirecomm"]
	path = spirecomm
	url = https://github.com/cdaymand/spirecomm.git
